.bg-color-A {
  background-color: md-get-palette-color(grey, 300)!important;
}
.bg-color-B {
  background-color: #ffff00!important;
}
.bg-color-C {
  background-color: md-get-palette-color(grey, 200)!important;
}
