.bg-color-A {
  background-color: md-get-palette-color(grey, 900)!important;
}
.bg-color-B {
  background-color: #ffff00!important;
}
.bg-color-C {
  background-color: md-get-palette-color(yellow, A400)!important;
}
