// Import and define Vuetify color theme
// https://vuetifyjs.com/en/style/colors
@require '~vuetify/src/stylus/settings/_colors'
$theme := {
  primary:     $blue.darken-2
  accent:      $blue.accent-2
  secondary:   $grey.darken-2
  info:        $blue.lighten-1
  warning:     $amber.darken-2
  error:       $red.accent-4
  success:     $green.lighten-2
}
$body-font-family = 'Maven Pro', sans-serif

// Import Vuetify styling
@require '~vuetify/src/stylus/main'

.page
  @extend .fade-transition

.standard-card
  padding: 0;
  background: rgba(0,0,0,0.5)!important;
  border-radius: 0;
